<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center" color="dark">
     Card Scroll
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row style="margin-bottom: 0px">
	  <ion-col>
		  <h4 style="margin-left: 400px">Characters</h4>
	  </ion-col>
  </ion-row>
	<ion-row style="margin-top: 0px">
		<ion-col size="6" offset="2">
			<ion-card>
				<ion-card-content>
					<ion-row>
						<ion-col>
							<ion-title>
								Name
							</ion-title>
						</ion-col>
						<ion-col>
							<ion-title>
								Comics
							</ion-title>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	
</ion-content>
